/* Base stles */
body {
    font-family: "Roboto", sans-serif;
    background: #FFF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.link {
    text-decoration: none;
    color: var(--link-item)
}

.link:hover,
.link:focus {
    color: #404bbf;
    transition-duration: 250ms;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
}

:root {
    /* Colors */
    --link-logo: #4d5ae5;
    --logo-text-color: #2E2F42;
    --link-item: #2E2F42;
    --list-item: #2e2f42;
    --list-address: #434455;
    --list-item-title-feature: #2E2F42;
    --footer-logo-text: #4D5AE5;
    --footer-link: #4d5ae5;
    --filter-button: #4D5AE5;
    --filter-background: #F4F4FD;
    --row-list-item: #2e2f42;
    --row-list-des: #434455;
    --cloud: #F4F4FD;
    --custumers-icon-color: #8E8F99;
    --footer-social-title: #FFFFFF;
    --footer-list-icons-background: #4d5ae5;
    --footer-list-icons-background-green: #31D0AA;
    --overlay-text: #f4f4fd;
    --custumers-icon: #8e8f99;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Гумові картинки */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.list {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

address {
    font-style: normal;
}

/* Container */
@media screen and (min-width:320px) {
    .container {
        padding: 0 15px;
        margin: 0 auto;
        max-width: 320px;
    }
}

@media screen and (min-width:428px) {
    .container {
        padding: 0 15px;
        margin: 0 auto;
        max-width: 428px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 16px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1440px;
    }
}

/* Header */
@media screen and (min-width: 320px) {
    .page-header {
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }
}

@media screen and (min-width: 320px) {
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 22px;
        padding-bottom: 22px;
    }
}


@media screen and (min-width: 768px) {
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

@media screen and (min-width: 1158px) {
    .header-container {
        padding: 16px;
        margin: 0 140px;
    }
}

@media screen and (min-width: 320px) {
    nav .link-logo {
        color: var(--link-logo);
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 800;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        line-height: 1.17;
        text-decoration: none;
    }
}

@media screen and (min-width: 768px) {
    nav .link-logo {
        margin-right: 120px;
    }
}

@media screen and (min-width: 1158px) {
    nav .link-logo {
        margin-right: 76px;
    }
}

@media screen and (min-width: 320px) {
    .logo-text {
        color: var(--logo-text-color);
    }
}

@media screen and (max-width:767.98px) {

    .nav-list,
    .address-list {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .nav {
        display: inline-flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    .nav-list {
        display: inline-flex;
        flex-wrap: nowrap;
        gap: 40px;
    }
}

@media screen and (min-width: 768px) {
    .nav-list-item {
        font-weight: 500;
        color: var(--list-item);
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (min-width: 768px) {
    .nav-list .current {
        color: #404bbf;
        padding: 38px 0;
    }
}

@media screen and (min-width: 1158px) {
    .nav-list .current {
        padding: 20px 0;
    }
}

@media screen and (min-width: 768px) {
    .nav-list .current::after {
        position: absolute;
        content: "";
        display: block;
        left: 0px;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: var(--ocean, #404BBF);
    }
}

@media screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .address-list {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        gap: 12px;
    }
}

@media screen and (min-width: 1158px) {
    .address-list {
        gap: 40px;
    }
}

@media screen and (min-width: 320px) {
    .hero {
        padding: 112px 0px;
        background-position: center;
        text-align: center;
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/hero/office-people-mobile.jpg);
        background-repeat: no-repeat;
        margin: 0 auto;
        background-size: cover;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .hero {
        padding: 112px 0px;
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/hero/office-people-tablet.jpg);
    }
}

@media screen and (min-width: 1158px) {
    .hero {
        width: 100%;
        ;
        padding: 188px 0px;
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/hero/office-people-desktop.jpg);
        max-width: 1440px;
    }
}

@media screen and (min-width: 320px) {
    .hero-title {
        font-size: 36px;
        color: #FFF;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        max-width: 100%;
        text-align: center;
        margin-bottom: 72px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 428px) {
    .hero-container {
        margin: 0 39px;
    }
}

@media screen and (min-width: 768px) {
    .hero-container {
        margin: 0 130px;
    }
}

@media screen and (min-width: 1158px) {
    .hero-container {
        margin: 0 456px;
    }
}

@media screen and (min-width: 768px) {
    .hero-title {
        font-size: 56px;
        margin-bottom: 36px;
        line-height: 1.07;
        width: 496px;
    }
}

@media screen and (min-width: 1158px) {
    .hero-title {
        margin-bottom: 48px;
    }
}

@media screen and (min-width: 320px) {
    .hero-button-text {
        padding: 16px 32px;
        font-size: 16px;
        line-height: 1.5;
        color: #FFF;
        letter-spacing: 0.04em;
        font-weight: 500;
        background: var(--filter-button);
        cursor: pointer;
        border: none;
        border-radius: 4px;
        margin: 0 auto;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }
}

@media screen and (min-width: 320px) {

    .hero-button-text:hover,
    .hero-button-text:focus {
        background-color: #404bbf;
        transition-duration: 250ms;
        transition: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (min-width: 320px) and (min-device-pixel-ratio:2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/hero/office-people-mobile@2x.jpg);
    }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/hero/office-people-tablet@2x.jpg);
    }
}

@media only screen and (min-width: 1158px) and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/hero/office-people-desktop@2x.jpg);

    }
}

/* Section 2 (Features) */

@media screen and (min-width: 320px) {
    .feature {
        padding: 96px 0;
    }
}

@media screen and (min-width: 1158px) {
    .feature {
        padding: 120px 0;
    }
}

@media screen and (min-width: 1158px) {
    .feature-container {
        margin: 0 140px;
    }
}

@media screen and (min-width: 320px) {
    .list-feature {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 72px;

    }
}

@media screen and (min-width: 768px) {
    .list-feature {
        display: flex;
        flex-direction: row;
        row-gap: 72px;
        column-gap: 24px;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1158px) {
    .list-feature {
        gap: 24px;
    }
}

@media screen and (min-width: 320px) {
    .list-item-feature {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .list-item-feature {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .list-item-feature {

        width: calc((100% - 72px) / 4);
    }
}

@media screen and (min-width: 320px) {
    .list-item-title-feature {
        color: var(--list-item-title-feature);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .list-item-title-feature {
        text-align: start;
    }
}

@media screen and (min-width: 1158px) {
    .list-item-title-feature {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }
}

@media screen and (min-width: 320px) {
    .feature-list-discription {
        color: var(--list-address);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

@media screen and (min-width: 768px) {
    .feature-list-discription {
        font-weight: 400;
    }
}

@media screen and (min-width: 320px) {
    .list-item-feature-image {
        display: none;
    }
}

@media screen and (min-width: 1158px) {
    .list-item-feature-image {
        border-radius: 4px;
        background: var(--cloud);
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
    }

}

/* Section 3 (Projects) */
@media screen and (min-width: 320px) {
    .projects {
        display: none;
    }
}

@media screen and (min-width: 1158px) {
    .projects {
        display: block;
        padding-bottom: 120px;

    }

    @media screen and (min-width: 1158px) {
        .projects-container {
            margin: 0 140px;
        }
    }

    .projects-title {
        color: var(--link-item);
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.018em;
        font-size: 36px;
        text-align: center;
        margin-bottom: 72px;
    }

    .projects .list {
        display: flex;
        gap: 24px;
    }

    .project-list-item {
        width: calc((100% - 2*24px) / 3);
    }
}

/*<Section 4 (Team)*/
@media screen and (min-width: 320px) {
    .team {
        background: var(--cloud);
        padding: 96px 0;
    }
}

@media screen and (min-width: 1158px) {
    .team {
        padding: 120px 0;
    }
}

@media screen and (min-width: 428px) {
    .team-container {
        margin: 0 67px;
    }
}

@media screen and (min-width: 768px) {
    .team-container {
        margin: 0 92px;
    }
}

@media screen and (min-width: 1158px) {
    .team-container {
        margin: 0 140px;
    }
}

@media screen and (min-width: 320px) {
    .team-title {
        color: var(--link-item);
        font-weight: 700;
        font-size: 36px;
        text-align: center;
        line-height: 1.11;
        letter-spacing: 0.02em;
        margin-bottom: 72px;
    }
}

@media screen and (min-width: 320px) {
    .ul-team-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 72px;
    }
}

@media screen and (min-width: 768px) {
    .ul-team-list {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 64px;
        column-gap: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .ul-team-list {
        gap: 24px;
    }
}

@media screen and (min-width: 320px) {
    .team-list {
        border-radius: 0px 0px 4px 4px;
        background: var(--white, #FFF);
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    }
}

@media screen and (min-width: 768px) {
    .team-list {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .team-list {
        width: calc((100% - 3*24px) / 4);
    }
}

@media screen and (min-width: 320px) {
    .team-list-item {
        color: var(--navyblue, #2E2F42);
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 8px;
    }
}

@media screen and (min-width: 320px) {
    .team-card-description {
        padding: 32px 0;
    }
}

@media screen and (min-width: 320px) {
    .team-list-description {
        color: var(--slate, #434455);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 8px;
    }
}

@media screen and (min-width: 320px) {
    .team-list-icons-item {
        width: 40px;
        height: 40px;
    }
}

@media screen and (min-width: 320px) {
    .team-icon-svg {
        fill: var(--cloud);
    }
}

@media screen and (min-width: 320px) {
    .team-list-icons {
        display: flex;
        gap: 24px;
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;

    }
}

@media screen and (min-width: 320px) {
    .team-list-icons-link {
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }
}

@media screen and (min-width: 320px) {

    .team-list-icons-link:hover,
    .team-list-icons-link:focus {
        background-color: #404bbf;
    }
}

/* Section 5 (Custumers) */

@media screen and (min-width: 320px) {
    .custumers {
        padding: 96px 0;

    }
}

@media screen and (min-width: 1158px) {
    .custumers {
        padding: 120px 0;
    }
}

@media screen and (min-width: 768px) {
    .custumers-container {
        margin: 0 92px;
    }
}

@media screen and (min-width: 1158px) {
    .custumers-container {
        margin: 0 140px;
    }
}

@media screen and (min-width: 320px) {
    .custumers-title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--navyblue);
        text-align: center;
        margin-bottom: 72px;
    }
}

@media screen and (min-width: 320px) {
    .custumers-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        row-gap: 72px;
        column-gap: 16px;
    }
}

@media screen and (min-width: 768px) {
    .custumers-list {
        column-gap: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .custumers-list {
        gap: 24px;

    }
}

@media screen and (min-width: 320px) {
    .custumers-list-item {
        width: calc((100% - 32px) / 2);
    }
}

@media screen and (min-width: 768px) {
    .custumers-list-item {
        width: calc((100% - 48px) / 3);
    }
}

@media screen and (min-width: 1158px) {
    .custumers-list-item {
        width: calc((100% - 120px) / 6);
    }
}

@media screen and (min-width: 320px) {
    .custumers-list-item-icon {
        width: 100%;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: var(--custumers-icon-color);
        height: 88px;
        color: var(--custumers-icon);
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (min-width: 320px) {

    .custumers-list-item-icon:hover,
    .custumers-list-item-icon:focus {
        fill: #404BBF;
        transition-duration: 250ms;
        border-color: #404bbf;
        color: #404bbf;
    }
}

@media screen and (min-width: 320px) {
    .custumers-list-svg {
        fill: currentColor;
    }
}

/* Footer */

@media screen and (min-width: 320px) {
    .footer {
        background: var(--navyblue, #2E2F42);
        padding: 96px 0px;
    }
}

@media screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;
    }
}

@media screen and (min-width: 320px) {
    .footer-all {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 428px) {
    .footer-all {
        margin: 0 67px;
    }
}

@media screen and (min-width: 768px) {
    .footer-all {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0 92px;
        row-gap: 72px;
    }
}

@media screen and (min-width: 1158px) {
    .footer-all {
        display: flex;
        flex-wrap: nowrap;
        margin: 0 140px;
    }
}

@media screen and (min-width: 320px) {
    .footer-logo {
        text-align: center;
        padding-bottom: 72px;
    }
}

@media screen and (min-width: 768px) {
    .footer-logo {
        text-align: start;
        padding-bottom: 0;
    }
}

@media screen and (min-width: 1158px) {
    .footer-logo {
        margin-right: 120px;
    }
}


@media screen and (min-width: 320px) {
    .footer-link {
        color: var(--footer-link);
        font-family: "Raleway",
            sans-serif;
        font-size: 18px;
        font-weight: 800;
        letter-spacing: 0.03em;
        line-height: 1.17;
        text-transform: uppercase;
        display: inline-block;
        text-decoration: none;
        margin-bottom: 16px;
    }
}

@media screen and (min-width: 320px) {
    .fotter-logo-text {
        color: var(--fotter-logo-text);
        line-height: 1.17;
        color: #f4f4fd;
    }
}

@media screen and (min-width: 320px) {
    .footer-description {
        color: var(--cloud, #F4F4FD);
        font-size: 16px;
        font-weight: 400;
        text-transform: none;
        width: 268px;
        text-align: start;
        margin: 0 auto;
    }
}


@media screen and (min-width: 768px) {
    .footer-description {
        width: 264px;
    }
}

@media screen and (min-width: 1158px) {
    .footer-description {
        padding-bottom: 0;
        gap: 0;
    }
}

@media screen and (min-width: 320px) {
    .footer-social {
        padding-bottom: 72px;
    }
}

@media screen and (min-width: 768px) {
    .footer-social {
        padding-bottom: 0;
        margin-left: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .footer-social {
        margin: 0;
        padding: 0;
        margin-right: 80px;
    }
}

@media screen and (min-width: 320px) {
    .footer-social-title {
        color: var(--footer-social-title);
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .footer-social-title {
        text-align: start;
    }
}

@media screen and (min-width: 320px) {
    .footer-list-icons {
        display: flex;
        gap: 16px;
    }
}

@media screen and (min-width: 320px) {
    .footer-list-svg {
        fill: var(--cloud);
    }
}

@media screen and (min-width: 320px) {
    .footer-list-icons-link {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--footer-list-icons-background);
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        width: calc(100% - 3*16px) / 4;
    }
}

@media screen and (min-width: 320px) {

    .footer-list-icons-link:hover,
    .footer-list-icons-link:focus {
        background-color: var(--footer-list-icons-background-green);
    }
}

@media screen and (min-width: 768px) {
    .footer-subscribe {
        justify-content: start;
    }
}

@media screen and (min-width: 1158px) {
    .footer-subscribe {
        margin-right: 0 auto;
    }
}

@media screen and (min-width: 320px) {
    .footer-subscribe-text {
        color: var(--footer-social-title);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .footer-subscribe-text {
        text-align: start;
    }
}

@media screen and (min-width: 320px) {
    .footer-subscribe-form {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}


@media screen and (min-width: 768px) {
    .footer-subscribe-form {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
}

@media screen and (min-width: 320px) {
    .footer-subscribe-icon {
        fill: #FFFFFF;
        margin-left: 16px;
    }
}

@media screen and (min-width: 320px) {
    .footer-subscribe-input {
        color: var(--footer-social-title);
        font-size: 12px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background-color: transparent;
        border-radius: 4px;
        border: 1px solid var(--white, #FFF);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        padding: 8px 16px;
        width: 100%;
        height: 40px;
    }
}

@media screen and (min-width: 768px) {
    .footer-subscribe-input {
        width: 264px;
    }
}

@media screen and (min-width: 320px) {
    .footer-subscribe-label ::placeholder {
        color: var(--white, #FFF);
    }
}

@media screen and (min-width: 320px) {
    .footer-subscribe-btn {
        display: inline-flex;
        padding: 8px 24px;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        background: var(--iris, #4D5AE5);
        color: #ffffff;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5em;
        letter-spacing: 0.04em;
        min-width: 165px;
        height: 40px;
        cursor: pointer;
        border: none;
        margin: 0 auto;
        transition-duration: 250ms;
        transition: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (min-width: 320px) {

    .footer-subscribe-btn:hover,
    .footer-subscribe-btn:focus {
        background-color: #404bbf;
    }
}

/* Modal window */

@media screen and (min-width: 320px) {
    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-height: 584px;
        flex-shrink: 0;
        border-radius: 4px;
        background: var(--dairy, #FCFCFC);
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 16px 24px 16px;
        width: 100%;
        height: 100%;
    }

}

@media screen and (min-width: 428px) {
    .modal {
        width: 392px;
        height: 584px;
    }

}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        padding: 72px 24px 24px 24px;
    }
}

@media screen and (min-width: 320px) {
    .modal-window-title {
        color: var(--list-item);
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        max-width: 360px;
        margin-bottom: 16px;
    }

    .close-btn {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 24px;
        top: 24px;
        padding: 0;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: 1px;
        cursor: pointer;
        background-color: #e7e9fc;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        fill: #2E2F42;
    }

    .close-btn-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .close-btn:hover,
    .close-btn:focus {
        background-color: #404bbf;
        border: none;
        fill: #ffffff;
    }

    .backdrop.is-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;

    }

    .backdrop {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: var(--navyblue-modal, rgba(46, 47, 66, 0.40));
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .modal-window-main {
        margin-bottom: 8px;
    }

    .modal-window-texarea {
        margin-bottom: 16px;
    }

    .modal-list-item-container {
        position: relative;

    }

    .modal-input {
        width: 100%;
        height: 40px;
        border-radius: 4px;
        border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.40));
        padding-left: 38px;
        text-align: left;
        background-color: transparent;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        fill: currentColor;
    }

    .modal-input:focus {
        border-color: #4D5AE5;
        border-radius: 4px;
        border: 1px solid #4D5AE5;
    }

    .modal-input:focus+.modal-list-item-svg {
        fill: #4D5AE5;
    }


    .modal-input-comment {
        border-radius: 4px;
        padding: 8px 16px;
        height: 120px;
        width: 100%;
        background-color: transparent;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        border: 1px solid rgba(46, 47, 66, 0.4);
        resize: none;
    }

    .modal-input-comment:focus {
        border-radius: 4px;
        border: 1px solid #4D5AE5;
        border-color: #4D5AE5;

    }

    .modal-input-comment::placeholder {
        color: var(--navyblue-modal, rgba(46, 47, 66, 0.40));
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
    }

    .modal-list-item {
        display: block;
        color: var(--custumers-icon);
        margin-bottom: 4px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
    }

    .modal-list-item-svg {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .checkbox-container {
        margin-bottom: 24px;
    }

    .checkbox-text {
        color: var(--lightslate, #8E8F99);
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
        display: block;
    }

    .checkbox-icon {
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 2px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        height: 16px;
        width: 16px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
        fill: transparent;
    }

    .checkbox-text-link {
        color: var(--iris, #4D5AE5);
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.04em;
        text-decoration-line: underline;
    }

    input[type="checkbox"]:checked+.checkbox-text>.checkbox-icon {
        background-color: var(--ocean, #404BBF);
        fill: #F4F4FD;
        border: none;
    }


    .checkbox-btn {
        display: block;
        padding: 16px 32px;
        border-radius: 4px;
        background-color: var(--iris, #4D5AE5);
        border: none;
        color: var(--white, #FFF);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        border-radius: 4px;
        cursor: pointer;
        min-width: 169px;
        height: 56px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin: auto;
    }

    .checkbox-btn:hover,
    .checkbox-btn:focus {
        border: 1px solid transparent;
        transition-duration: 250ms;
        transition: cubic-bezier(0.4, 0, 0.2, 1);
        background-color: #404bbf;
        cursor: pointer;
    }
}


/* Page (Portfolio)*/
/* Main */
/* Sectin menu filters */

.filter-button {
    color: var(--filter-button);
    background-color: var(--filter-background);
    text-align: center;
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--cloud, #F4F4FD);
    padding: 12px 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}



.filter-button:hover,
.filter-button:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.filter-button:hover,
.filter-button:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.ul-list-filter {
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
    justify-content: center;
}

/* Sectin rows */
.row {
    padding: 96px 0 120px 0;
}

.container-row {
    margin: 0 140px;
}

.row-list-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--row-list-item);
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.row-list-descreption {
    color: var(--row-list-des);
    font-weight: 400;
}

.menu-apps-item {
    width: calc((100% - 2*24px) / 3);
}

.menu-apps-item-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-apps-item-link:hover,
.menu-apps-item-link:focus {
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-apps-item-link:hover .overlay,
.menu-apps-item-link:focus .overlay {
    transform: translateY(0%);
}

.overlay-box {
    position: relative;
    overflow: hidden;
}


.overlay {
    position: absolute;
    top: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--overlay-text);
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.menu-apps {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}

.menu-apps-description {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.mobile-menu-icon {
    stroke: #2E2F42;
}

.menu-toggle {
    min-height: 22px;
    min-width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

/* mobile menu */

@media screen and (min-width: 767px) {

    .menu-toggle,
    .menu-container {
        display: none;
    }
}

@media screen and (min-width: 320px) {
    .menu-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 32px;
        background-color: #fff;
        z-index: 999;
        transform: translateX(100%);
        transition: transform 250ms ease-in-out;
        padding: 35px;
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        background: var(--white, #FFF);
        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    }
}

@media screen and (min-width: 428px) {
    .menu-container {
        height: 796px;
    }
}

@media screen and (min-width: 320px) {
    .menu-container.is-open {
        transform: translateX(0);
    }
}

@media screen and (min-width: 320px) {
    .menu-toggle-btn-close {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 24px;
        top: 24px;
        padding: 0;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: 1px;
        cursor: pointer;
        background-color: #e7e9fc;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        fill: #2E2F42;
    }
}

@media screen and (min-width: 320px) {
    .mobile-menu {
        margin-bottom: auto;
    }
}

@media screen and (min-width: 320px) {

    .menu-toggle-btn-close:hover,
    .menu-toggle-btn-close:focus {
        background-color: #404bbf;
        border: none;
        fill: #ffffff;
    }
}

@media screen and (min-width: 320px) {

    .menu-toggle-icon:hover,
    .menu-toggle-icon:focus {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (min-width: 320px) {
    .mobile-menu-item:not(:last-child) {
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 320px) {
    .mobile-menu .link {
        display: block;
        text-decoration: none;
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.12;
        letter-spacing: 0.02em;
    }
}

@media screen and (min-width: 320px) {
    .mobile-menu .link:active {
        color: var(--ocean, #404BBF)
    }
}

@media screen and (min-width: 320px) {

    .mobile-menu .link:hover,
    .mobile-menu .link:focus {
        color: var(--ocean, #404BBF)
    }
}

@media screen and (min-width: 320px) {
    .mobile-tel-list-item {
        padding: 0px;
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 320px) {
    .mobile-link-tel {
        font-size: 25px;
        font-weight: 700;
        line-height: 1.12;
        letter-spacing: 0.02em;
    }
}

@media screen and (min-width: 428px) {
    .mobile-link-tel {
        font-size: 36px;
    }
}

@media screen and (min-width: 320px) {
    .mobile-social-list-icons {
        display: flex;
        gap: 28px;

    }
}

@media screen and (min-width: 320px) {
    .footer-list-icons-item {
        width: calc(100% - 3*28px / 4)
    }
}

@media screen and (min-width: 428px) {
    .mobile-social-list-icons {
        gap: 56px;

    }
}

@media screen and (min-width: 428px) {
    .footer-list-icons-item {
        width: calc(100% - 3*56px / 4)
    }
}

@media screen and (min-width: 320px) {
    .mobile-address-list-item {
        margin-bottom: 48px;
    }
}

@media screen and (min-width: 320px) {
    .mobile-address-link {

        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }
}